.card{
	height:260px;
	width:200px;
	border:2px solid black;
	border-radius:5px;
	display:inline-block;
	margin:10px;
	box-shadow:0px 4px 8px black;
	transition:1s;
}
#img{
	width:100%;
	border-radius:5px 5px 0 0;
}
.desc{
	text-align:center;
	padding:0px 2px 0 2px;
	margin-top:-25px;
}
.card:hover{
	box-shadow:0.5px 4px 16px black;
}
#box1{
	height:100px;
	width:100px;
	background-color:green;
	transition:width 2s ease-in 0.5s;
}
#box1:hover{
	width:600px;
}
#box2{
	height:100px;
	width:100px;
	background-color:red;
	transform:translate(200px, 200px) rotate(90deg);
}
#box3{
	height:100px;
	width:100px;
	background-color:lightblue;
	transform:skewX(20deg);
	margin-left:10px;
}
#box4{
	height:100px;
	width:100px;
	background-color:lightgreen;
	box-shadow:2px 2px 5px green;
}
#pic{
	height:125px;
	width:100px;
	background-color:pink;
	background-image:url("Cat_photo.jpg");
	background-size:cover;
	opacity:50%;
}
.face{
	height:350px;
	width:350px;
	background-color:#ffa511;
	border-radius:50%;
}
.mouth{
	height:75px;
	width:200px;
	background-color:#b41212;
	border-radius:0 0 50px 50px;
	position:relative;
	top:100px;
	left:75px;
}
.eyes>div{
	height:60px;
	width:60px;
	background-color:black;
	border-radius:50%;
	display:inline-block;
	position:relative;
	top:40px;
	left:49px;
	margin:30px;
}