.container{
	height:100vh;
	margin:5px;
	padding:0;
	display:grid;
	grid-template-rows:repeat(12,1fr);
	grid-template-columns:repeat(12,1fr);
	grid-gap:10px;
}
.container div{
	background-color:pink;
	font-size:1.4rem;
}
.header{
	grid-column:1/span 12;
}
.sidebar{
	grid-row:2/span 10;
	grid-column:1/span 3;
}
.navigation{
	grid-column:4/span 6;
}
.ads{
	grid-row:2/span 10;
	grid-column:10/span 3;
}
.main{
	grid-row:3/span 9;
	grid-column:4/span 6;
}
.footer{
	grid-column:1/span 12;
}
@media(max-width:720px){
	.header{
		grid-column:1/span 12;
	}
	.navigation{
		grid-column:1/span 12;
		grid-row:2;
	}
	.sidebar{
		grid-row:3/span 9;
		grid-column:1/span 3;
	}
	.main{
		grid-row:3/span 9;
		grid-column:4/span 9;
	}
	.ads{
		grid-column:1/span 3;
		grid-row:12;
	}
	.footer{
		grid-column:4/span 9;
		grid-row:12;
	}
}
.box{
   height:100px;
   width:300px;
   background-color:pink;
   animation:widthAnimate 3s ease-in 0s 3 normal;
}
@keyframes widthAnimate{
0%{
   width:10px;
   background-color:green;
}
50%{
   width:200px;
   background-color:yellow;
   border-radius:7.5px;
}
100%{
   width:400px;
   background-color:blue;
   border-radius:15px;
}
}
/*@keyframes fontAnimation{
from{
    font-size:20px;
}
to{
    font-size:40px;
}
}
@keyframes colorAnimate{
from{
   background-color:green;
}
to{
   background-color:blue;
 }
}*/
.loader{
	height:120px;
	width:120px;
	margin:15px;
	border:16px solid #f3f3f3;
	border-top:16px solid goldenrod;
	border-radius:50%;
	animation:spin 2s linear 0s infinite normal;
}
@keyframes spin{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
.h1{
   background-color:yellow;
   border:2px solid black;
}
@media(min-width:300px) and (max-width:600px){
.h1{
   background-color:magenta;
   color:white;
}
div{
   height:100px;
   width:100px;
   background-color:blue;
  }
}
@media(orientation:landscape){
.h1{
   background-color:aqua;
   color:brown;
  }
}
h2 i{
	color:#d56f3e;
}
h1 span{
	color:#9d6f24;
}
#pets{
	display:flex;
	justify-content:space-evenly;
}
.card{
	width:300px;
	border:2px solid black;
	border-radius:25px;
	padding:10px;
	margin:10px;
}
.card p{
	text-align:justify;
}
.card:hover{
	box-shadow:0.5px 4px 16px black;
}
.img{
	width:100%;
	border-radius:25px;
}
h4{
	text-align:right;
	color:#3c787e;
}
@media(max-width:375px){
	#pets{
		flex-wrap:wrap;
	}
	.card:hover{
		box-shadow:none;
	}
}
